extends layout.pug

block append styles
  link(rel="stylesheet" href="../static/style.css")
  link(rel="stylesheet" href="../static/output.css")

block scripts
  script(src='../static/auth.js')

block content

  div.container
    form(action='/authdata' method= 'POST' id="exist")
      table#table
        tr
          h2 User Login
          td.tdLabel
            label.label Enter Username :
          td#title
            input(type='text' name='username' value=''  required)
        tr
          td.tdLabel
            label.label Enter Password :
          td#category
            input(type='password' name='password' value=''  required)
        tr
          td(colspan='2')
            button#logInCreate(type='submit' onclick="getLoginData(this);") Log In

    form(action='/authdata2' method= 'POST' id="new")
      table#table2
        tr
          h2 Create Account
          td.tdLabel
            label.label Enter Username :
          td#title
            input(type='text' name='username' value=''  required)
        tr
          td.tdLabel
            label.label Enter Password :
          td#category
            input(type='password' name='password' value=''  required)
        tr
          td(colspan='2' style="padding-bottom: 75px;")
            button#logInCreate(type='submit' onclick="getCreateData(this);"  ) Create Account

