doctype html
head
    title Ac-News
    style 
        include ../static/style.css
body
    navbar 
        ul 
            li 
                a(href='#ac-news') Ac-News
            li 
                a.active(href='#home') Home
            li 
                a(href='#news') News
            li 
                a(href='#about') About
            li 
                a(href='#contact') Contact
    #container.col
        p You are amazing
        p Pug is a terse and simple templating language.
            